<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>

<style>
h1 {text-align: center;}
.centerText {
  text-align: center;
  font-size: 24px;
}

.alert_error {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
  font-size: 24px;
  padding: 10px;
}

input[type="text"]{
  font-size: 24px;
}
input[type="password"]{
  font-size: 24px;
}
button[type="submit"]{
  font-size: 24px;
}
label{
 display: inline-block;
 width: 120px;
}
</style>

<body>
{% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    <div class="alert_error">
        {% for message in errors %}
      <li>{{ message }}</li>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h1>Create Your Account</h1>

<form action="{{ url_for("create_account")}}" method="post">

<div class="centerText">
 <label for="userName">User Name:</label>
 <input type="text" id="userName" name="name" placeholder="username--case sensitive">
</div>

<div class="centerText">
 <label for="password">Password:</label>
 <input type="password" id="password" name="password" placeholder="must be at least 7 chars">
</div>

<div class="centerText">
 <button type="submit">Submit</button>
</div>

</body>
</html>