<!DOCTYPE html>
<html>

<head>
 <title></title>
</head>

<style>
h1 {text-align: center;}
p {text-align: center;}


.centerDiv {
  text-align: center;
}
</style>

<body>
<!-- This should probably be a smaller banner in the top right of every page-->
<div class="centerDiv"> <a href="logout"><button class=grey style="height:40px;width:90px;font-size: medium">Log Out</button></a>
<a href="profile"><button class=grey style="height:40px;width:90px;font-size: medium">Home</button></a></div>

<h1>Below is your most recent game, if there is one</h1>

<p>{{pgn}}</p>
</body>
</html>